BASE_URL=PUT_BASE_URL_HERE
AUTH_URL=PUT_AUTH_URL_HERE

TEST_LOGIN=PUT_LOGIN_HERE
TEST_PASSWORD=PUT_PASSWORD_HERE

INVALID_LOGIN=invalid_user_12345
INVALID_PASSWORD=invalid_pass_67890

TEST_LOCATION=Казань