# ----------------------------------------------------------------------
# 1. CORE PYTHON
# ----------------------------------------------------------------------

# Byte-compiled / optimized files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments (CRITICAL)
.env           # Файлы с секретными переменными
.envrc
.venv          # Стандартное имя
env/
venv/          # Стандартное имя
ENV/
.pixi          # Кэш Pixi
__pypackages__/ # PEP 582

# ----------------------------------------------------------------------
# 2. TOOLS / CONFIGURATION
# ----------------------------------------------------------------------

# Package Managers Lock files (RECOMMENDED TO COMMIT, UNCOMMENT TO IGNORE)
# poetry.lock
# pdm.lock
# Pipfile.lock

# Configuration files
.pypirc
poetry.toml
.pdm.toml
pyrightconfig.json # LSP config

# IDEs (PyCharm / JetBrains)
.idea/

# VS Code
.vscode/

# ----------------------------------------------------------------------
# 3. TESTING / CACHE / LOGS
# ----------------------------------------------------------------------

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pytype/
.pyre/

# Общие файлы кэша и временные
tmp/
temp/

# Logs and temporary files
*.log
pip-log.txt

# ----------------------------------------------------------------------
# 4. FRAMEWORKS & DOCS
# ----------------------------------------------------------------------

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints/

# Sphinx documentation
docs/_build/
/site  # mkdocs

# PyInstaller
*.manifest
*.spec

# ----------------------------------------------------------------------
# 5. OS SPECIFIC
# ----------------------------------------------------------------------

# Windows
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Mac OS X files
.DS_Store